@import url('https://fonts.googleapis.com/css?family=Abel');

.sriracha-regular {
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
  }

html, body {
  background: #f6c9d3;
  font-family: "Sriracha", sans-serif;
}

.center {
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
}

.background-rectangle {
    position: absolute;
    top: -25px; /* Adjust this value to move the rectangle vertically */
    left: -25px; /* Adjust this value to move the rectangle horizontally */
    width: 740px; /* Same width as card, or slightly larger */
    height: 420px; /* Same height as card, or slightly larger */
    background-color: #500000; /* Choose the color you want for the rectangle */
    z-index: 0; /* Ensure it stays behind the card */
    border-radius: 6px; /* Match the card's border-radius */
    box-shadow: 0 8px 16px -8px rgba(0,0,0,0.3); /* Add some shadow if needed */
  }

.card {
  width: 720px;
  height: 400px;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
  z-index: 1;
}

.card h1 {
  text-align: right;
}

.card h2 {
    text-align: right;
  }

.card p {
    text-align: right;
}

.card .additional {
  position: absolute;
  width: 300px;
  height: 100%;
  background: #800000;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional { /* hover and the animation goes this far */
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .user-card { /* the circle thing*/
  width: 300px;
  height: 100%;
  position: relative;
  float: right;
}

.card .additional .user-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);*/
}


.card .additional .user-card svg {
  top: 50%;
}

.card .additional .more-info {
  width: 530px; /*the size of invisible textbox*/
  float: left;
  position: absolute;
  left: 150px;
  height: 100%;
}

.card .additional .more-info h1 {
  margin: 0 1rem 0 10rem; /* Top, Right, Bottom, Left */
  color: #fff;
  margin-bottom: 0;
}

.card .additional .coords {
    
  margin: 0 0 0 10rem; /* Top, Right, Bottom, Left */
  color: #fff;
  font-size: 1rem;
  float: right;

}

.card .additional .coords span + span {
    margin: 0 0 0 10rem; /* Top, Right, Bottom, Left */
    font-size: 1rem;
  float: right;
}


.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 0.9em;
}